.book-card {
    width: 300px;
    padding: 20px;
    margin: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.book-card-title {
    color: #333;
    margin-bottom: 16px;
}

.book-card-body{
    color: #333;
    margin-bottom: 8px;
}

.active {
    background-color: #e3f2fd;
    border-color: #2196f3;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  position: relative;
  background: white;
  padding: 2rem;
  border-radius: 8px;
  width: 90%;
  max-width: 400px;
  margin: auto;
}

.hidden {
    display: none;
}

.close-button {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.book-form-container{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.field-group{
  display: flex;
  flex-direction: column;
  gap: 4px;
}

input{
  border: #333 solid 1px;
  border-radius: 4px;
  padding: 8px;
}

button{
  padding: 8px;
}

.year-input{
  max-width: 100px;
}