p{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
  color: inherit;
  background: none;
  border: 0;
}

#library-books {
  margin: 16px;
}

.books-container{
  margin: 48px 16px;
}


.book-card {
    width: 300px;
    padding: 20px;
    margin-top: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.book-card-content{
  display: flex;
  justify-content: space-between;
}

.book-card-title {
    color: #333;
    margin-bottom: 16px;
}

.book-card-body{
    color: #333;
    margin-bottom: 8px;
}

.delete-book{
  width: 16px;
  color: #ff7676;
  display: none;
  cursor: pointer;
}

.book-card:hover .delete-book { 
  display: block; 
}


.active {
    background-color: #e3f2fd;
    border-color: #2196f3;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  position: relative;
  background: white;
  padding: 2rem;
  border-radius: 8px;
  width: 90%;
  max-width: 400px;
  margin: auto;
}

.hidden {
    display: none;
}

.close-button {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.book-form-container{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.field-group{
  display: flex;
  flex-direction: column;
  gap: 4px;
}

input{
  border: #333 solid 1px;
  border-radius: 4px;
  padding: 8px;
}

button{
  padding: 16px 24px;
  border: #2196f3 solid 0px;
  border-radius: 8px;
  background-color: #76c6ff;
  font-size: 20px;
  cursor: pointer;
}

.year-input{
  max-width: 100px;
}

.status-pill{
  display: inline-flex;
  flex: 0 0 auto;
  background-color: #c7e8ff;
  border: #333 solid 0px;
  border-radius: 16px;
  padding: 8px 16px;
  gap: 8px;
  cursor: pointer;
}

.status-content{
  display: inline-flex;
  flex-direction: column;
  border: #dcdcdc solid 1px;
  border-radius: 4px;
  padding: 8px;
}

.status-read{
    display: inline-flex;
    flex: 0 0 auto;
    background-color: #c7ffe1;
    border: #333 solid 0px;
    border-radius: 16px;
    padding: 8px 16px;
    gap: 8px;
    cursor: pointer;
  }